* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    transition: background-color 0.3s ease-in-out;
}

.joker {
    --text-color: #E9E7E3;
    --buttun-color: #020200;
    --box-background: linear-gradient(to bottom, #83262D, #7A242B);
    --text-area-color: linear-gradient(to bottom, #83262D, rgba(15,15,15,80%));
  }
  
  /* Tema escuro */
  .hp {
    --text-color: #77B5AF;
    --buttun-color: #1E1E1E;
    --box-background: linear-gradient(to bottom, #719582, #242F29);
    --text-area-color: linear-gradient(to bottom, #4D706C, rgba(30,30,29,80%));
  }

body{
    background-color: #E9E7E3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main div.box{
    background: var(--box-background);
    /*background-image: linear-gradient(to bottom, #83262D, #7A242B);*/
    width: 50.0rem;
    height: 80.0rem;
    border-radius: 4.0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 8px 8px 5px #020200;
    border: 0.2rem solid #020200 ;
    transition: background-color 0.3s ease-in-out;
    
}

main div.box div.buttons{
    display: flex;
    gap: 2.0rem;
}

main div.box div.buttons button{
    background-color: var(--buttun-color);
    border: none;
    width: 5.0rem;
    height: 5.0rem;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 2.6rem;
    transition: background-color 0.3s ease-in-out;

}

main div.box div.buttons img{
    width: 1.7rem;
}

main div.box div.buttons img.left{
    margin-right: 0.2rem;
}

main div.box div.buttons img.right{
    margin-left: 0.4rem;
}

main div.box div.image img{
    margin-top: 30px;
    border-radius: 25px;
    height: 295px;
    width: 450px;

}



main div.box div.movie-name{
    margin-top: 3.0rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--buttun-color);
    width: 25.0rem;
    height: 6.3rem;
    border-radius: 20px;
}

main div.box div.movie-name h1{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: var(--text-color);
    font-size: 3.5rem;
    transition: color 0.2s  ease-in;
}


main div.box div.text-area {
    background: var(--text-area-color);
    transition: background-color 0.3s ease-in-out;
    border-radius: 95px 95px 40px 40px;
    box-shadow: 0px -6px 15px #020200;
    width: 50.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 34.0rem;
}

main div.box div.text-area p{
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    text-align: center;
    transition: color 0.2s  ease-in;
}

/*=======*/


@media (max-width: 768px){
    main div.box{
        width: 40.0rem;
        height: 70.0rem;
    }

    main div.box div.buttons{
        display: flex;
        gap: 2.0rem;
        
    }
    
    main div.box div.buttons button{
        width: 3.0rem;
        height: 3.0rem;
        border-radius: 100px;
        margin-top: 2.6rem;
        
    }
    
    main div.box div.buttons img{
        width: 1.3rem;
    }
    
    main div.box div.buttons img.left{
        margin-right: 0.2rem;
    }
    
    main div.box div.buttons img.right{
        margin-left: 0.2rem;
    }
    
    main div.box div.image img{
        margin-top: 30px;
        border-radius: 25px;
        width: 350px;
        height: 230px;
    }
    
    
    
    main div.box div.movie-name{
        margin-top: 2.0rem ;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--buttun-color);
        width: 18.0rem;
        height: 6.3rem;
        border-radius: 20px;
    }
    
    main div.box div.movie-name h1{
        font-family: "Montserrat", sans-serif;
        text-align: center;

        font-size: 2.5rem;
    }
    
    main div.box div.text-area{
        width: 40.0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        height: 34.0rem;
        border-radius: 95px 95px 40px 40px;
        box-shadow: 0px -6px 15px #020200;
    }
    
    main div.box div.text-area p{
        color: var(--text-color);
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 1.4rem;
        text-align: center;
    
    }


}
